/* eslint-env node */
{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "lf"}],
    "linebreak-style": ["error", "unix"]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "settings": {}
}
